<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs') %>

    <body>

        <div class="container space-2">
            <!-- Title -->
            <div class="row justify-content-md-between align-items-md-center mb-7">
                <div class="col-lg-5">
                    <h2>Tracks
                        <i class="fas fa-compact-disc list-group-icon mt-1"></i>
                    </h2>
                </div>

                <div class="col-lg-6 text-lg-right mt-lg-auto">
                    <a class="font-weight-bold" href="/">
                        <i class="fas fa-angle-left fa-sm ml-1"></i>
                        Go back to search
                    </a>
                </div>
            </div>
            <!-- End Title -->

            <% data.forEach(track=> { %>
                <!-- Track -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Track: <%= track.track_number %>
                        </h5>
                    </div>

                    <!-- Body -->
                    <div class="card-body">
                        <form>
                            <div class="list-group list-group-lg list-group-flush list-group-no-gutters">
                                <!-- Track Item -->
                                <div class="list-group-item">
                                    <div class="media">

                                        <div class="media-body">
                                            <div class="row align-items-center">

                                                <div class="col-sm mb-1 mb-sm-0">
                                                    <h6 class="mb-3">
                                                        <%= track.name %>
                                                    </h6>
                                                    <audio controls src="<%= track.preview_url %>">
                                                        <code>audio</code> element.
                                                    </audio>
                                                </div>

                                                <div class="col-sm-auto">
                                                    <a class="btn btn-xs btn-white"
                                                        href="<%= track.external_urls.spotify %>" target="_blank">Open
                                                        in Spotify
                                                        <i class="fab fa-spotify fa-1x"></i>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Track Item -->
                            </div>
                        </form>
                    </div>
                    <!-- End Body -->
                </div>
                <!-- End Track -->
                <% }) %>

        </div>

        <a class="js-go-to go-to position-fixed" href="#" style="visibility: hidden;" data-hs-go-to-options='{
            "offsetTop": 700,
            "position": {
              "init": {
                "right": 15
              },
              "show": {
                "bottom": 15
              },
              "hide": {
                "bottom": -15
              }
            }
          }'>
            <i class="fas fa-arrow-up"></i>
        </a>

        <%- include ('../partials/compulsoryJs.ejs') %>

    </body>

</html>